@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Emilys+Candy&display=swap');

body{
    background: rgb(107, 149, 222);
    
    color: rgb(236, 230, 225);
}
dm-serif-text-regular {
        font-family: "DM Serif Text", serif;
        font-weight: 400;
        font-style: normal;
      }
h2{
   color:rgb(231, 240, 240) 
}

nav{
    text-align: center;
}

nav li {
    list-style: none;
    display: inline-block;
}

nav a {
    color: azure;
    padding: 8px;
    display: inline-block;
}

nav a:hover {
    background-color: blue;
}

.github{
    text-align: left;
}